nav>ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: gray;
    padding: 2px;
}

li a:visited {
    color: blueviolet;
}

nav ul li:hover ul {
    list-style-type: none;
    display: block;
    position: absolute;
    background-color: bisque;
    padding: 0px 10px;
}

.dropdown {
    display: none;
}